.PlaceForm {
    width : 100vw;
    height : 100vh;
    padding : 0;
    margin : 0;
    left : 0;
    top : 0;
    display : flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.pfContainer {
    width : 80%;
    height : 80%;
    margin : 0;
    padding : 0;
    display : flex;
    justify-content: center;
    align-items: center;
}

.pfContents {
    width : 50%;
    height : 100%;
    margin : 0;
    padding : 0;
    display : flex;
    flex-direction: column;
    align-items: center;
    animation: fadeUp 0.5s ease-out forwards;
}

.pfContents h1 {
    position : relative;
    top : 10%;
    left : 10%;
}

.pfContents h3 {
    position : relative;
    top : 15%;
    left : 27%;
    color : #14AAB4;
}

.pfMap { 
    width : 50%;
    height : 100%;
    margin : 0;
    padding : 0;
    display : flex;
    justify-content: center;
    align-items: center;
    animation: fadeUp 0.5s ease-out forwards;
}

.pfMap iframe {
    width : 70%;
    height: 70%;
    border-radius: 20px;
}